NODE_ENV=development
GRPC_URL=0.0.0.0:5001
DB_HOST=order-db
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=order_db
RABBITMQ_URL=amqp://rabbitmq:5672
KAFKA_BROKERS=kafka:9092
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318/v1/traces
